* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #bdc3c7;
  overflow-x: hidden;
  margin: auto;
}

h1 h2 h3 h4 {
  font-family: "RocknRoll One", sans-serif;
}

.container {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(../img/imgCab1920x1281.webp);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

header .menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

header .menu .logo {
  width: 50px;
  height: 50px;
}

header .menu nav {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

header .menu .social {
  width: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

header .menu a {
  text-decoration: none;
  font-size: 12px;
  border-bottom: 3px solid transparent;
  transition: border 0.3s ease;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  color: black;
}

header .menu nav a:hover {
  border-bottom-color: #e74c3c;
  letter-spacing: 1px;
}

header .menu .social a:hover {
  color: #4b7bec;
}

header .titulo {
  text-align: center;
  width: 100%;
  padding-top: 150px;
  background-color: #ffffff;
  opacity: 0.3;
}

h1 {
  color: #e74c3c;
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
}

.section {
  background: #f7f7f7;
  display: flex;
  font-size: 10px;
  margin: auto;
  margin-top: 10px;
  padding: 10px auto;
}

.articulos {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-flow: row wrap;
  width: 70%;
}

.articulo {
  flex: 1 1 40%;
  font-size: 13px;
  letter-spacing: 1px;
  border: 1px solid #d14545;
  margin: 5px;
}

section > .articulos > .articulo > img {
  width: 100%;
}

h2 {
  width: 100%;
  background: #d14545;
  padding-left: 10px;
}

h3 {
  color: #fff;
  margin-top: -20px;
  padding-left: 10px;
}

section article a {
  color: #4b4b4b;
  text-decoration: none;
}

section article a:hover {
  color: #d14545;
  font-size: 15px;
}

.articFoot {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  color: #f7f7f7;
  background: #d14545;
  width: 100%;
  margin: auto 5px;
}

.aside {
  background: f7f7f7;
  flex: 1 1 auto;
  margin-top: 15px;
  margin-right: 15px;
  width: 30%;
}

p {
  padding: 10px;
}

.publi {
  background: #cd6133;
  font-size: 16px;
  color: #f7f7f7;
  margin-bottom: 10px;
  margin-left: 5px;
}

.pie {
  background: #f7f7f7;
  text-align: center;
}

@media all and (max-width: 800px) {
  h1 {
    font-size: 19px;
    padding-bottom: 100px;
  }
  .section {
    flex-direction: column;
    align-items: center;
  }
  .articulos {
    width: 100%;
  }
  .aside {
    width: 93%;
    font-size: 5px;
    margin: auto;
  }
}

@media all and (max-width: 400px) {
  header .menu {
    justify-content: space-around;
  }
  .enlaceMenu {
    margin-left: 1px;
  }
  header a {
    font-size: 5px;
  }
  header .menu .social {
    flex-direction: column;
  }
  .section {
    flex-direction: column;
  }
  .articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section .articulos .articulo {
    margin-right: 17px;
  }
  .articFoot {
    margin: auto;
  }

  .pie {
    background: #fff;
  }
}
